<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Change password - IDS relay server</title>
    <th:block th:replace="~{components/head-imports}"></th:block>
</head>

<body class="root__container root__container--card">
    <div th:replace="~{components/alert}"></div>
    <div class="content__section">
        <fieldset class="fieldset-frame">
            <legend class="fieldset-frame__legend">Change password</legend>
            <form action="/change-password" method="POST" class="vertical-form">
                <div class="vertical-form__control-container">
                    <label for="currentPassword">Current password</label>
                    <input type="password" id="currentPassword" name="currentPassword">
                    <div class="alert__container alert__container--danger"
                        th:if="${formErrors != null and formErrors['currentPassword'] != null}">
                        <div class="alert__text alert__text--small" th:text="${formErrors['currentPassword']}"></div>
                    </div>
                </div>
                <div class="vertical-form__control-container">
                    <label for="newPassword">New password</label>
                    <input type="password" id="newPassword" name="newPassword">
                    <div class="alert__container alert__container--danger"
                        th:if="${formErrors != null and formErrors['newPassword'] != null}">
                        <div class="alert__text alert__text--small" th:text="${formErrors['newPassword']}"></div>
                    </div>
                </div>
                <div class="vertical-form__control-container">
                    <label for="repeatNewPassword">Repeat new password</label>
                    <input type="password" id="repeatNewPassword" name="repeatNewPassword">
                    <div class="alert__container alert__container--danger"
                        th:if="${formErrors != null and formErrors['repeatNewPassword'] != null}">
                        <div class="alert__text alert__text--small" th:text="${formErrors['repeatNewPassword']}">
                        </div>
                    </div>
                </div>
                <button>Change</button>
            </form>
            <form action="/change-password/keep" method="POST" class="vertical-form">
                <div class="vertical-form__control-container vertical-form__control-container--horizontal">
                    <input type="checkbox" id="doNotCheck" name="doNotCheck" th:checked="${doNotCheck == true}">
                    <label for="doNotCheck">Do not check again</label>
                </div>
                <button>Skip (keep default)</button>
            </form>
        </fieldset>
    </div>
    <div th:replace="~{components/footer}"></div>
</body>

</html>
