<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - Intelligen doorbell relay server</title>
    </head>
    <body>
        <h2>IDS dashboard</h2>
        Logged as:
        <b>$user.username</b>
        (role: $user.role)
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
