<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{template/layout.html :: baseLayout('Login - IDS Server', ~{:: main}, ~{:: #empty-scripts})}">

<body>
    <main class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow border-secondary login-card">
            <div class="card-body p-5">
                <h3 class="card-title text-center mb-4 fw-bold">IDS Server</h3>
                <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">
                    Incorrect login and/or password.
                </div>
                <form method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label text-secondary small fw-bold">Username</label>
                        <input type="text" class="form-control form-control-sm" id="username" name="username"
                            required="required" th:value="${previousUsername}">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label text-secondary small fw-bold">Password</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password"
                            required="required">
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block id="empty-scripts"></th:block>
</body>

</html>
