<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="|User ${user.username} privileges - IDS relay server|"></title>
    <th:block th:replace="~{components/head-imports}"></th:block>
</head>

<body class="root__container root__container--large">
    <div th:replace="~{components/navbar}"></div>
    <hr class="content__separator">
    <div th:replace="~{components/alert}"></div>
    <div th:if="${user.isSystemAccount}" class="content__section">
        <div class="alert__container alert__container--info">
            <div class="alert__text">
                Permission for system account cannot be changed.
            </div>
        </div>
    </div>
    <div class="content__section content__section--between">
        <button onclick="window.location.href='/users'">&lt; Return</button>
        <button onclick="window.location.reload()">&#10227; Refresh</button>
    </div>
    <div class="content__section">
        Manage privileges for: <strong th:text="${user.username}"></strong>
    </div>
    <form th:action="|/users/privileges/${user.id}|" method="POST">
        <div class="content__section">
            <table class="data-table">
                <tr>
                    <th class="data-table__cell">Privilege name</th>
                    <th class="data-table__cell data-table__cell--fit data-table__cell--center">Bitmask</th>
                    <th class="data-table__cell data-table__cell--fit data-table__cell--center">Raw value</th>
                    <th class="data-table__cell data-table__cell--fit data-table__cell--center">Is admin</th>
                    <th class="data-table__cell data-table__cell--fit data-table__cell--center">Is active</th>
                </tr>
                <tr th:each="perm : ${permissions}">
                    <td class="data-table__cell" th:text="${perm.name}"></td>
                    <td class="data-table__cell data-table__cell--fit data-table__cell--center">
                        <code th:text="${perm.bitmask}"></code>
                    </td>
                    <td class="data-table__cell data-table__cell--fit data-table__cell--center"
                        th:text="${perm.rawValue}"></td>
                    <td class="data-table__cell data-table__cell--fit data-table__cell--center">
                        <input type="checkbox" th:checked="${perm.isAdmin}" disabled>
                    </td>
                    <td class="data-table__cell data-table__cell--fit data-table__cell--center">
                        <input type="checkbox" name="privileges" th:value="${perm.name}" th:checked="${perm.isActive}"
                            th:disabled="${user.isSystemAccount}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="content__section content__section--center">
            <button th:disabled="${user.isSystemAccount}">Update privileges</button>
        </div>
    </form>
    <div th:replace="~{components/footer}"></div>
</body>

</html>
